@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url(../fonts/OpenSansAll.ttf) format('truetype');
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway"), url(../fonts/RalewayAll.ttf) format('truetype');
}