footer {
    background-color: #000000;
}

.footer_wrap {
    padding: 30px 0 15px 0;
}

.footer_nav {
    width: 320px;
    display: flex;
    margin: auto;
	text-align: center;
    color: #F8EFEF;
}

.footer_list {
    display: flex;
    width: 320px;
    justify-content: space-between;
    margin-bottom: 18px;
}

.footer_nav_icon {
    font-size: 23px;
}

.footer_text {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
}
