
@import url(./fonts.scss);
@import url(./iconAwesome.scss);
@import url(./header.scss);
@import url(./axit.scss);
@import url(./awesome.scss);
@import url(./pricing.scss);
@import url(./header.scss);
@import url(./stylish.scss);
@import url(./customers.scss);
@import url(./social.scss);
@import url(./contact.scss);
@import url(./footer.scss);
@import url(./soft.scss);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;   
}

html {
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

h1 {
    color: #FFF;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
}

h1::after {
    content: "";
    display: flex;
    width: 64px;
    height: 2px;
    background-color: #FFF;
    margin: 32px 0 39px;
}

h2 {
    color: #212121;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: "";
    width: 64px;
    height: 2px;
    background-color: red;
    display: block;
    margin: 34px auto;
}

h3 {
	color: #333;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
}

.common_container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.common_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 68px;
}

.common_description_text {
    color: #86878B;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.common_text_white {
    color: #fff !important;
}

.common_text_white:after {
    background-color: #fff;
}

.common_button_link {
    width: 135px;
    border: 1px solid #fff;
    margin: auto;
}

.common_button_link a {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 11px 0;
    transition: 0.2s;    
}

.common_button_link a:hover {
    background-color: #212121;
}

.arrow_up {
    z-index: 5;
    position: fixed;
    bottom: -50px;
    right: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: 0.4 linear;
}

.arrow_up.active {
    bottom: 50px;
    transform: 0.4 linear;
}
